In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_excel(r"C:\Users\abc\Downloads\salary.xlsx")
df.head()

   User Id0Gender  Age  Estimated Salary  Purchased
0            1500   19             19000          0
1            1501   35             20000          0
2            1502   26             43000          0
3            1503   27             57000          0
4            1504   19             78000          0

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

##  Create x and Y

In [7]:
y=df['Purchased']
X=df.drop('Purchased',axis=1)

In [9]:
scaler=StandardScaler()
X=pd.DataFrame(scaler.fit_transform(X))

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7)

In [11]:
model=LogisticRegression()
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [12]:
pred

array([0, 0, 1, 1, 1, 0, 0, 0], dtype=int64)

In [13]:
X_test

           0         1         2
5  -0.939010 -0.583001 -0.064555
15  0.505621 -0.388667  0.372431
22  1.516862  1.554669 -0.660445
20  1.227936  1.166001 -0.779623
21  1.372399  1.360335 -0.779623
10 -0.216695 -0.680168  0.372431
3  -1.227936 -0.583001 -0.084418
7  -0.650084 -0.097167  1.762842

In [14]:
score=accuracy_score(y_test,pred)

In [15]:
score

0.875

In [16]:
confusion_matrix(y_test,pred)

array([[4, 0],
       [1, 3]], dtype=int64)

In [17]:
tn,fp,tp,fn=confusion_matrix(y_test,pred).ravel()

In [18]:
(tn,fp,tp,fn)

(4, 0, 1, 3)